    <div class="container">
        <h1 class="mt-4">Chat en tiempo Real</h1>

        <div id="messagesLogs">
        </div>

        <div class="mb-3 input-group">
            <input type="text" class="form-control" id="chatBox" placeholder="Escribe tu mensaje">
            <div class="input-group-append">
                <i class="fas fa-keyboard"></i>
            </div>
        </div>
    </div>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.2/socket.io.min.js"></script>
<script src="js/index.js"></script>